In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

# Lab | Inferential statistics - T-test & P-value

## One tailed t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

In [2]:
machine = pd.read_csv('./files_for_lab/machine.txt', sep='\t')

In [3]:
machine

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [4]:
machine.columns

Index(['New machine', '    Old machine'], dtype='object')

In [5]:
machine.rename(columns = {'New machine': 'new_machine', '    Old machine': 'old_machine'}, inplace=True)

<br><center><strong>Null hypothesis: New machine packing time mean is lower than the old machine.</strong></center>
<center><strong>Alternative hypothesis: New machine packing time mean is not lower than the old machine.</strong></center><br>

$$H0: \mu_{new} < \mu_{old} $$
$$H1: \mu_{new} >= \mu_{old} $$<br>

In [6]:
s, t = st.ttest_ind(machine['new_machine'], machine['old_machine'])
print('statistic =', s,'\npvalue =', t)

statistic = -3.3972307061176026
pvalue = 0.0032111425007745158

We reject the null hypothesis since p_value is significantly lower than alpha. We can't conclude that the new machine is faster than the old one.

#

## Matched Pairs Test 
In this challenge we will compare dependent samples of data describing our Pokemon (file files_for_lab/pokemon.csv). Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically significant difference between them and comment your result.

In [7]:
pokemon = pd.read_csv('./files_for_lab/pokemon.csv')

In [8]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

<br><center><strong>Null hypothesis: Attack and defense scores are equal.</strong></center>
<center><strong>Alternative hypothesis: Attack and defense scores are not equal.</strong></center><br>

$$H0: \mu_{Att} = \mu_{Def} $$
$$H1: \mu_{Att} \neq \mu_{Def} $$<br>

In [9]:
s,t = st.ttest_rel(pokemon['Defense'],pokemon['Attack'])

In [10]:
print('statistic =', s,'\npvalue =', t)

statistic = -4.325566393330478
pvalue = 1.7140303479358558e-05

P value is much lower than alpha, therefore we reject the null hypothesis. Attack and defense scores are not equal.